* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  p {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 15px;
  }
/********** Base styles **********/
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
  }
  
  p {
    border: 1px solid black;
    margin-bottom: 15px;
  }
  #p1 {
    background-color: #A52A2A;
    width: 300px;
    height: 300px;
  }
  #p2 {
    background-color: #DEB887;
    width: 50px;
    height: 50px;
  }
  #p3 {
    background-color: #DEB887;
    width: 50px;
    height: 50px;
  }