*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
  display: block;
}
#container {
  width: 100%;
  float: left;
  
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    display: block;
}

p {
   position: relative;
   width: 90%;
   font-size: 16px;
   text-align: justify;
   top: 40px;
   left: 5%;
   margin-top: 10px;
    
  }

 span {
  
    width: 80px;
    border: 2px solid black;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: cursive;
    font-weight: bold;
    
  }
 
  #box-p1, #box-p2, #box-p3 {
    position: relative;
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 15px;
    background-color:#ccc;
    display: inline-flex;
    left:40px;
  }
  div#container {
   position: relative;
   top: 50px;
   display: inline;
   
  }

  #box-p1 span {
    background-color: rosybrown;
   
}

  #box-p2 span {
    background-color: red;
    
}

  #box-p3 span {
    background-color: bisque;
    
}
/* ----- Desktop ------ */
@media (min-width: 992px){
  div #container {
    width: 100%;
    float: left;
    
  }
}
/* ------ Tablet ------- */
@media (min-width: 768px) and (max-width: 991px){
  div #container {
    display: inline-block;
    width: 100%;
   }
   h1 {
    display: block;
  }
  #box-p1, #box-p2 {
    display: inline-block;
    
  }
  #box-p3 {
    width: 70%;
    position: absolute;
    top: 20px;
    margin: 180px;
  }
   
/* ------- Mobile -------- */
@media (min-width: 767px){
   #container {
    display: inline;
    float: none;
  }
  h1 {
    display: block;
  }

}